<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head' ); -%>
  <body>
    <div class="main-wrapper">
      <%- include('../include/pageheader' ); -%> <%-
      include('../include/admin_sidebar' ); -%>
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Add Teachers</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="Teachers.html">Teachers</a>
                  </li>
                  <li class="breadcrumb-item active">Add Teachers</li>
                </ul>
              </div>
            </div>
          </div>
          <% if(messages.success) { %>
            <div class="alert alert-success"><%= messages.success %></div>
            <% } %> <% if(messages.error) { %>
            <div class="alert alert-danger"><%= messages.error %></div>
            <% } %>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <form action="add_teacher" method="post">
                    <div class="row">
                      <div class="col-12">
                        <h5 class="form-title"><span>Basic Details</span></h5>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>Teacher ID / Employment Number</label>
                          <input
                            name="teacher_id"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>

                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>First Name</label>
                          <input
                            name="first_name"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label>Surname</label>
                          <input
                            name="last_name"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="Email">Email</label>
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <div class="form-group">
                          <label for="password">password</label>
                          <div>
                            <input
                              class="form-control"
                              type="text"
                              id="password"
                              name="password"
                              oninput="validatePassword1()"
                            />
                            <span class="form-text text-muted"
                              >Passwords must be at least five characters long.</span
                            >
                          </div>
                        </div>
                      </div>

                      <div class="col-12">
                        <button
                          type="submit"
                          class="btn btn-primary"
                          id="submit_btn"
                          disabled
                        >
                          Submit
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../include/footer' ); -%>
      </div>
    </div>
   
    <%- include('../include/scripts' ); -%>
  </body>
</html>
