<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head' ); -%>
  <body>
    <div class="main-wrapper">
      <%- include('../include/pageheader' ); -%> <%-
      include('../include/admin_sidebar' ); -%>
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Password Recovery</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="password_recovery">Password</a>
                  </li>
                  <li class="breadcrumb-item active">Password Recovery</li>
                </ul>
              </div>
            </div>
          </div>

          <% if (message.length>0) {%>
            <div class="<%= alert_class %>"><%= message %></div>
            <% } %>
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <form action="password_recovery" id="" method="post">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="password">Enter User Email</label>
                        <div>
                          <input
                            class="form-control"
                            type="email"
                            name="email"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="password">Enter New Password</label>
                        <div>
                          <input
                            class="form-control"
                            type="text"
                            id="password"
                            name="password"
                            oninput="validatePassword1()"
                          />
                          <span class="form-text text-muted"
                            >Passwords must be at least five characters
                            long.</span
                          >
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <button
                        type="submit"
                        class="btn btn-primary"
                        id="submit_btn"
                        disabled
                      >
                        Submit
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../include/footer' ); -%>
      </div>
    </div>
    <%- include('../include/scripts' ); -%>
  </body>
</html>
