<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head' ); -%>
  <body>
    <div class="main-wrapper">
      <%- include('../include/pageheader' ); -%> <%- include('../include/student_sidebar' ); -%>
      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Fees</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                  <li class="breadcrumb-item active">Fees</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0 datatable">
                      <thead>
                        <tr>
                          <th>Fees id</th>
                          <th>Amount</th>
                          <th>Paid Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (fees && fees.length > 0) { %>
                       
                          <% fees.forEach(function(fee) { %>
                          <tr>
                            <td><%= fee.transaction_id %></td>
                            <td><%= fee.transaction_amount %></td>
                            <td><%= fee.transaction_date %></td>
                           
                          </tr>
                          <% }); %>
                          <% } else { %>
                            <tr>
                              <td colspan="3">No fees transactions available</td>
                            </tr>
                            <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../include/footer' ); -%>
      </div>
    </div>
    <%- include('../include/scripts' ); -%>
  </body>
</html>
