<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head' ); -%>
  <body>
    <div class="main-wrapper">
      <%- include('../include/pageheader' ); -%> <%-
      include('../include/student_sidebar' ); -%>
      <!-- LEFT SIDE BAR MENU END-->

      <div class="page-wrapper">
        <div class="content container-fluid">
          <div class="page-header">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="page-title">Subjects</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Subjects</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card card-table">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>Module Code</th>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if (modules && modules.length > 0) { %>

                        <% modules.forEach(function(module) { %>
                        <tr>
                          <td><%= module.course_id %></td>
                          <td>
                            <h2>
                              <a> <%= module.course_name %></a>
                            </h2>
                          </td>
                        </tr>
                        <% }) %>

                        <% } else { %>
                          <tr>
                            <td colspan="3">No Modules available</td>
                          </tr>
                          <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../include/footer' ); -%>
      </div>
    </div>
    <%- include('../include/scripts' ); -%>
  </body>
</html>
